* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 164px;
  position: relative;
  z-index: 3;
}
header .nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #00391F;
}
header .nav-bar a {
  text-decoration: none;
}
header .nav-bar .logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav-bar .logo-container .logo {
  width: 81px;
  height: 100px;
}
header .nav-bar .logo-container .logo .logo-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: drop-shadow(0px 5px 15px #fff);
}
header .nav-bar .logo-container .price-btn {
  width: 193px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-bar .logo-container .price-btn a {
  font-size: 32px;
  font-weight: none;
  font-family: none;
  color: white;
}
header .nav-bar .nav-btn-list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}
header .nav-bar .nav-btn-list .nav-btn {
  width: 119px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}
header .nav-bar .nav-btn-list .nav-btn a {
  font-size: 24px;
  font-weight: none;
  font-family: none;
  color: white;
}
header .nav-bar .nav-btn-list .nav-btn ul {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  display: none;
}
header .nav-bar .nav-btn-list .nav-btn ul li {
  list-style: none;
  width: 119px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  background-color: #9CCFB8;
}
header .nav-bar .nav-btn-list .nav-btn ul li a {
  font-size: 24px;
  font-weight: 400;
  font-family: none;
  color: #00391F;
}
header .nav-bar .nav-btn-list .nav-btn ul li:hover {
  transition-duration: 0.7s;
  background-color: white;
}
header .nav-bar .nav-btn-list .nav-btn:hover ul {
  display: block;
}
header .nav-bar .social-media-area {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-bar .social-media-area .icon-style {
  font-size: 44px;
  font-weight: none;
  font-family: none;
  color: white;
}

footer {
  width: 100%;
  height: 421px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9CCFB8;
  padding: 0 15%;
  position: relative;
}
footer .footer-logo {
  display: block;
  width: 157px;
  height: 191px;
  object-fit: contain;
}
footer .footer-logo .logo-img {
  width: 100%;
  height: 100%;
}
footer .footer-info {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 5%;
}
footer .footer-info .information {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: black;
  letter-spacing: 2px;
}
footer .footer-info .information li {
  list-style: none;
}
footer .footer-info .business-hours {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: black;
  letter-spacing: 2px;
}
footer .footer-info .business-hours li {
  list-style: none;
}
footer .footer-info .footer-social-media-area {
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-info .footer-social-media-area .footer-icon-style {
  font-size: 44px;
  font-weight: none;
  font-family: none;
  color: black;
}
footer .google-map {
  width: 40%;
  height: 60%;
}
footer .google-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}
footer .copy-right {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .copy-right span a {
  color: black;
}/*# sourceMappingURL=header&footer.css.map */