//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin


main {
    @include size(100%, 1844px);

    .slogan-area {
        @include size(100%, 10%);
        @include flex-row(center, center);
        // background-color: $gray-2;

        .slogan-content {
            @include size(60%, 50%);
            @include flex-row(space-between, center);
            border-top: 2px solid black;
            border-bottom: 2px solid black;

            @media screen and(min-width:781px) and(max-width:1240px) {
                @include size(60%, 40%);

            }

            .slogan-text {
                @include font(36px, 400, 'Arial', black);

                @media screen and(min-width:806px) and(max-width:1240px) {
                    @include font(24px, 400, 'Arial', black);

                }

                @media screen and(min-width:781px) and(max-width:805px) {
                    @include font(20px, 400, 'Arial', black);

                }
            }

            :nth-child(1) {
                transform: translateX(-10%);

                @media screen and(min-width:781px) and(max-width:1240px) {
                    transform: translateX(-15%);
                }
            }

            :nth-child(2) {
                transform: translateX(-5%);

                @media screen and(min-width:781px) and(max-width:1240px) {
                    transform: translateX(-10%);
                }
            }

            :nth-child(3) {
                transform: translateX(5%);

                @media screen and(min-width:781px) and(max-width:1240px) {
                    transform: translateX(10%);
                }
            }

            :nth-child(4) {
                transform: translateX(10%);

                @media screen and(min-width:809px) and(max-width:1240px) {
                    transform: translateX(15%);
                }

            }
        }
    }

    #history-area {
        @include size(100%, 35%);
        @include flex-col(center, space-between);

        // background-color: $gray-2;

        .history-title {
            @include size(100%, 10%);
            @include font(32px, 400, 'Arial', black);
            @include flex-row(center, center);
            text-decoration: underline;
            // background-color: $gray-1;
        }

        .history-showcase {
            @include size(100%, 85%);
            @include flex-col(center, space-between);
            // background-color: $gray-3;

            .history-content {
                @include size(50%, 20%);
                @include flex-col(center, center);
                @include font(20px, 400, 'Arial', black);
                // background-color: $gray-1;
            }

        }

    }

    #info-area {
        @include size(100%, 35%);
        @include flex-row(space-between, center);
        padding: 0 5%;
        padding-top: 5%;
        // background-color: $gray-2;

        .info-card {
            @include size(30%, 80%);
            @include flex-col(center, space-between);
            // background-color: $gray-3;

            .info-name {
                @include size(100%, 10%);
                @include flex-row(center, center);
                @include font(32px, 400, 'Arial', black);
                text-decoration: underline;
                // background-color: $gray-1
            }

            .swiper {
                @include size(100%, 70%);

                .swiper-slide {
                    // background-color: $gray-2;
                    text-align: center;
                    font-size: 18px;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            a {
                text-decoration: none;

                .info-btn {
                    @include size(100%, 10%);
                    @include flex-row(center, center);
                    @include font(20px, 400, 'Arial', black);
                    // background-color: $gray-1;
                }
            }
        }
    }

    .client-area {
        @include size(100%, 20%);
        @include flex-col(center, space-between);
        // background-color: $gray-2;

        .client-title {
            @include size(50%, 10%);
            @include font(32px, 400, 'Arial', black);
            @include flex-row(center, center);
            text-decoration: underline;
            // background-color: $gray-1;
        }

        .client-showcase {
            @include size(100%, 80%);
            @include flex-row(space-between, center);
            padding: 0 5%;
            // background-color: $gray-3;

            .client-card {
                @include size(15%, 90%);
                @include flex-col(center, space-between);

                img {
                    @include size(100%, 80%);
                    object-fit: contain;
                }

                .client-name {
                    @include size(100%, 10%);
                    @include flex-row(center, center);
                    @include font(20px, 400, 'Arial', black);
                }
            }


        }
    }
}






//--RWD for 780px
@media screen and(max-width:780px) {
    main {
        height: 2200px;
        transform: translateY(60px);

        .slogan-area {
            .slogan-content {
                @include size(80%, 80%);
                @include flex-row(space-between, space-between);
                flex-wrap: wrap;

                .slogan-text {
                    @include font(24px, 400, 'Arial', black);

                }

                :nth-child(1) {
                    transform: translateX(0);
                    margin-right: 50%;

                    @media screen and(max-width:605px) {
                        margin-right: 40%;
                    }

                    @media screen and(max-width:505px) {
                        margin-right: 15%;
                    }

                }

                :nth-child(2) {
                    transform: translateX(0);
                }

                :nth-child(3) {
                    transform: translateX(0);
                }

                :nth-child(4) {
                    transform: translateX(0);
                }
            }
        }

        #history-area {
            @include size(100%, 20%);

            .history-title {
                @include font(20px, 400, 'Arial', black);
            }

            .history-showcase {
                .history-content {
                    @include font(14px, 400, 'Arial', black);
                }
            }
        }

        #info-area {
            @include size(100%, 50%);
            @include flex-col(center, space-between);
            padding: 0;

            .info-card {
                @include size(100%, 30%);
                @include flex-col(center, center);

                .info-name {
                    @include font(20px, 400, 'Arial', black);
                    margin-bottom: 20px;
                }

                a {
                    display: none;
                }
            }
        }

        .client-area {
            padding-top: 5%;

            .client-title {
                @include font(20px, 400, 'Arial', black);
            }

            .client-showcase {
                @include flex-row(space-between, space-between);
                flex-wrap: wrap;

                .client-card {
                    @include size(30%, 40%);
                    @include flex-col(center, space-between);

                }
            }
        }
    }

    footer {
        transform: translateY(60px);
    }
}



//--End of 780px