//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

main {
    width: 100%;
    height: 500px;
    padding: 53px 23.64% 102px 17.6%;

    form {
        width: 100%;
        height: 100%;
        display: flex;

        h2 {
            width: 7.71vw;
            height: 37px;
            border-bottom: 2px solid black;
        }

        .contact-input-info {
            width: 19.27vw;
            margin-left: 6.61vw;

            label[for*='e'] {
                width: 3.75vw;
                height: 35px;
                display: inline-block;
                text-align: center;
                line-height: 35px;
                background-color: $brown;
                color: $blue;
                font-size: 20px;
                margin-bottom: 24px;
            }

            input[type='text'] {
                width: calc(100% - 3.75vw);
                height: 35px;
                border: $brown solid 1px;
            }

            p {
                margin-top: 63px;
                background-color: $blue;
                color: white;
                height: 38px;
                width: 5.99vw;
                font-size: 20px;
                line-height: 38px;
            }
            label[for*='common'] {
                height: 35px;
                display: inline-block;
                text-align: center;
                line-height: 35px;
                background-color: $brown;
                color: $blue;
                font-size: 20px;
                margin-top: 26px;
            }
            input[type="checkbox"]{
                display: inline-block;
                height: 1.1vw;
                width: 1.1vw;
                border: $brown 1px solid ;
            }
        }
        .contact-input-context{
            display: flex;
            flex-direction: column;
            margin-left: 3.75vw;
            width: 19.27vw;
            height: 345px;
            label{
                height: 38px;
                background-color: $blue;
                font-size: 20px;
                color: white;
                line-height: 38px;
            }
            textarea{
                height: calc(100% - 38px);
                border: $brown 1px solid;
            }
        }

        &>input{
            position: absolute;
            font-size: 24px;
            left: 75.47vw;
            top: 564px;
            transform: translate(0,-100%);
            background-color: unset;
            border: none;
            cursor: pointer;
        }
    }
}