//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    @include size(100%, 164px);
    position: relative;
    z-index: 3;

    .nav-bar {
        @include size(100%, 100%);
        @include flex-row(space-between, center);
        padding: 0 10%;
        background-color: $deep_green;

        a {
            text-decoration: none;
        }

        .logo-container {
            @include flex-row(space-around, center);

            .logo {
                @include size(81px, 100px);
                // background-color: $gray-3;

                .logo-img {
                    @include size(100%, 100%);
                    object-fit: fill;
                    filter: drop-shadow(0px 5px 15px #fff);
                }
            }

            .price-btn {
                @include size(193px, 57px);
                @include flex-row(center, center);

                // background-color: $gray-3;

                a {
                    @include font(32px, none, none, white);

                }
            }
        }



        .nav-btn-list {
            @include size(50%, 100%);
            @include flex-row(space-between, center);
            margin-left: 10%;
            // background-color: $gray-4;

            .nav-btn {
                @include size(119px, 37px);
                @include flex-row(center, center);
                list-style: none;
                position: relative;
                // background-color: $gray-1;

                a {
                    @include font(24px, none, none, white);
                }


                ul {
                    position: absolute;
                    top: 0;
                    @include flex-col(start, center);
                    display: none;

                    li {
                        list-style: none;
                        @include size(119px, 37px);
                        @include flex-row(center, center);
                        transform: translateY(100%);
                        background-color: $light_green;

                        a {
                            @include font(24px, 400, none, $deep_green);
                        }

                        &:hover {
                            transition-duration: 0.7s;
                            background-color: white;
                        }
                    }
                }

                &:hover {
                    ul {
                        display: block;
                    }
                }
            }
        }

        .social-media-area {
            @include size(10%, 100%);
            @include flex-row(center, center);
            @include flex-row(space-between, center);
            // background-color: $gray-1;

            .icon-style {
                @include font(44px, none, none, white);
            }
        }
    }
}


footer {
    @include size(100%, 421px);
    @include flex-row(space-between, center);
    background-color: $light_green;
    padding: 0 15%;
    position: relative;

    .footer-logo {
        display: block;
        @include size(157px, 191px);
        object-fit: contain;

        .logo-img {
            @include size(100%, 100%);
            // border: 1px solid black;

        }
    }

    .footer-info {
        @include size(40%, 60%);
        @include flex-col(start, space-between);
        margin-left: 5%;


        .information {
            @include font(20px, 400, none, black);
            letter-spacing: 2px;

            li {
                list-style: none;
            }
        }

        .business-hours {
            @include font(20px, 400, none, black);
            letter-spacing: 2px;

            li {
                list-style: none;
            }
        }

        .footer-social-media-area {
            @include size(25%, 20%);
            @include flex-row(space-between, center);

            .footer-icon-style {
                @include font(44px, none, none, black);
            }
        }
    }

    .google-map {
        @include size(40%, 60%);


        iframe {
            @include size(100%, 100%);
            border-radius: 20px;
            object-fit: contain;
        }

    }

    .copy-right {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        span{
           a{
            color: black;
           }
        }
    }
}