//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

header {
    @include size(100%, 164px);
    position: relative;
    z-index: 3;

    .nav-bar {
        @include size(100%, 100%);
        @include flex-row(space-between, center);
        padding: 0 10%;
        background-color: $deep_green;

        a {
            text-decoration: none;
        }

        .logo-container {
            @include flex-row(space-around, center);

            .logo {
                @include size(81px, 100px);
                // background-color: $gray-3;

                .logo-img {
                    @include size(100%, 100%);
                    object-fit: fill;
                    filter: drop-shadow(0px 5px 15px #fff);
                }
            }

            .price-btn {
                @include size(193px, 57px);
                @include flex-row(center, center);

                // background-color: $gray-3;

                a {
                    @include font(32px, none, 'Arial', white);
                    @include flex-row(center, center);
                }
            }
        }



        .nav-btn-list {
            @include size(50%, 100%);
            @include flex-row(space-between, center);
            margin-left: 10%;
            // background-color: $gray-4;

            .nav-btn {
                @include size(119px, 37px);
                @include flex-row(center, center);
                list-style: none;
                position: relative;
                // background-color: $gray-1;

                a {
                    @include font(24px, none, 'Arial', white);
                }


                ul {
                    position: absolute;
                    top: 0;
                    @include flex-col(start, center);
                    display: none;

                    li {
                        list-style: none;
                        @include size(119px, 37px);
                        @include flex-row(center, center);
                        transform: translateY(100%);
                        background-color: $light_green;

                        a {
                            @include font(24px, 400, 'Arial', $deep_green);
                        }

                        &:hover {
                            transition-duration: 0.7s;
                            background-color: white;
                        }
                    }
                }

                &:hover {
                    ul {
                        display: block;
                    }
                }
            }
        }

        .social-media-area {
            @include size(10%, 100%);
            @include flex-row(center, center);
            @include flex-row(space-between, center);
            // background-color: $gray-1;

            a {
                @include size(50px, 50px);

                img {
                    @include size(100%, 100%);
                    object-fit: contain;
                }
            }

            :nth-child(2) {
                img {
                    @include size(90%, 100%);
                }
            }
        }
    }

    .phone-ham {
        @include size(30px, 30px);
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/phone_ham.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
    }

    .phone-menu {
        display: none
    }
}


footer {
    @include size(100%, 421px);
    @include flex-row(space-between, center);
    background-color: $light_green;
    padding: 0 15%;
    position: relative;

    .footer-logo {
        display: block;
        @include size(157px, 191px);
        object-fit: contain;

        .logo-img {
            @include size(100%, 100%);
            // border: 1px solid black;

        }
    }

    .footer-info {
        @include size(40%, 60%);
        @include flex-col(start, space-between);
        margin-left: 5%;


        .information {
            @include font(20px, 400, 'Arial', black);
            letter-spacing: 2px;

            li {
                list-style: none;
            }
        }

        .business-hours {
            @include font(20px, 400, none, black);
            letter-spacing: 2px;

            li {
                list-style: none;
            }
        }

        .footer-social-media-area {
            @include size(30%, 20%);
            @include flex-row(space-between, center);

            a {
                @include size(50px, 50px);

                img {
                    @include size(100%, 100%);
                    object-fit: contain;
                }
            }

            :nth-child(2) {
                img {
                    @include size(100%, 100%);
                }
            }
        }
    }

    .google-map {
        @include size(40%, 60%);


        iframe {
            @include size(100%, 100%);
            border-radius: 20px;
            object-fit: contain;
        }

    }

    .copy-right {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
            a {
                color: black;
            }
        }
    }
}


//--RWD for 1240px
@media screen and(min-width:376px) and (max-width:1241px) {
    header {

        .nav-bar {
            padding: 0 5%;

            .nav-btn-list {
                @include size(50%, 100%);
                margin-left: 0;
            }
        }


    }
}

//--End of 1240px


//--RWD for 375px

@media screen and(max-width:375px) {
    header {
        @include size(100%, 60px);
        position: fixed;
        top: 0;

        .nav-bar {
            .logo-container {
                @include size(90%, 100%);
                @include flex-row(center, center);

                .logo {
                    @include size(20%, 100%);
                }

                .price-btn {
                    display: none;
                }
            }

            .nav-btn-list {
                display: none;
            }

            .social-media-area {
                display: none;
            }
        }

        .phone-ham {
            display: block;



        }

        .phone-menu {
            @include size(142px, auto);
            display: block;
            transition: 1s;
            background-color: $deep_green;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(60px);
            opacity: 0;
            visibility: hidden;

            .phone-btn-list {
                @include size(100%, auto);
                @include flex-col(center, space-between);

                .phone-btn {
                    @include size(100%, auto);
                    @include flex-col(center, center);
                    @include font(20px, 400, 'Arial', white);
                    margin: 10px 0;
                    list-style: none;

                    a {
                        @include font(20px, 400, 'Arial', white);
                        text-decoration: none;
                    }



                    ul {
                        @include size(100%, 0);
                        @include flex-col(center, space-between);
                        // display: none;
                        transition: 1s;
                        background-color: $light_green;

                        li {
                            @include size(100%, auto);
                            @include flex-row(center, center);
                            padding: 5px 0;
                            list-style: none;

                            a {
                                color: $deep_green;
                            }

                        }
                    }
                }


            }

        }

        .phone-social-media {
            @include size(100%, auto);
            @include flex-row(center, center);

            :nth-child(1) {
                @include size(35%, 100%);
                padding: 0 2%;
                margin: 10px 0;

                img {
                    @include size(100%, 100%);
                    object-fit: contain;
                }
            }

            :nth-child(2) {
                @include size(40%, 100%);
                padding: 0 5%;
                margin: 30px 0;

                img {
                    @include size(100%, 100%);
                    object-fit: contain;
                }
            }


        }
    }


    footer {
        @include size(100%, 541px);
        @include flex-col(center, center);
        padding: 0 5%;

        .footer-logo {
            @include size(70px, 85px);
            transform: translateY(-40px);
        }

        .footer-info {
            @include size(100%, 40%);
            transform: translateY(-30px);

            .information {
                @include font(16px, 400, 'Arial', black);
            }

            .business-hours {
                @include font(16px, 400, 'Arial', black);

            }

            .footer-social-media-area {
                @include size(35%, 20%);

            }
        }

        .google-map {
            @include size(80%, 25%);
        }

        .copy-right {
            @include size(70%, 5%);
            @include flex-row(center, center);
            font-size: 14px;
            transform: translate(-50%, -70%);


            span {
                @include size(30%, 50%);
                @include flex-row(center, center);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);

            }
        }
    }










    //--control of menu

    .phone-menu-toggle {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .about-list-toggle {
        height: 150px !important;
    }

    .news-list-toggle {
        height: 75px !important;
    }

    .service-list-toggle {
        height: 75px !important;
    }

    //--End of control
}

//--End of 375px