//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    @include size(100%, auto);


    .banner {
        @include size(100%, 969px);
        background-image: url('../img/index/banner1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        img {
            @include size(312px, 381px);
            @include position-center();

        }

    }


    #bulletin-board {
        @include size(100%, auto);
        padding: 70px 120px;

        .bulletin-title {
            @include flex-row(start, space-between);
            padding: 0 10%;

            .news-title {
                @include size(130px, 45px);
                @include font(24px, none, none, black);
                cursor: pointer;
                // background-color: $gray-1;
            }

            .employ-title {
                @include size(130px, 45px);
                @include font(24px, none, none, black);
                cursor: pointer;
                margin-left: 50px;
            }
        }


        .news-area {
            // display: none !important;
            @include size(100%, 700px);
            @include flex-col(start, space-around);
            padding: 0 10%;
            background-color: white;



            .news-card-area {
                @include size(100%, 200px);
                @include flex-row(space-between, center);
                // background-color: $gray-2;


                .news-card {
                    @include size(45%, 100%);
                    @include flex-row(space-between, center);
                    // background-color: $gray-3;

                    .card-img {
                        @include size(202px, 177px);
                        // background-color: $gray-2;
                        margin-right: 20px;

                        img {
                            @include size(100%, 100%);
                            object-fit: contain;
                        }
                    }

                    .card-info-area {
                        @include size(calc(100% - 202px), 177px);
                        @include flex-col(start, space-between);
                        // background-color: $gray-2;

                        .card-title {
                            @include size(50%, 37px);
                            @include font(24px, 400, 'Arial', black);
                            margin-bottom: 10px;
                        }

                        .card-content {
                            @include size(100%, 75px);
                            @include font(20px, 400, 'Arial', black);
                            margin-bottom: 40px;
                        }

                        a {
                            @include size(40%, 19px);
                            @include font(14px, 400, 'Arial', black);
                            text-decoration: none;

                            .card-btn {}
                        }
                    }
                }
            }

            .news-detail-area {
                @include size(100%, 50%);
                @include flex-col(start, space-around);
                margin-top: 50px;
                // background-color: $gray-2;

                .news-detail {
                    @include size(100%, 15%);
                    @include flex-row(space-between, center);
                    // background-color: $gray-2;



                    .news-detail-content {
                        @include size(70%, 80%);
                        @include font(20px, 400, 'Arial', black);
                        letter-spacing: 3px;
                    }

                    .news-detail-button {
                        @include size(100px, 80%);
                        @include flex-row(space-between, center);
                        @include font(14px, 400, 'Arial', black);
                        text-decoration: none;

                    }

                }
            }
        }

        .employ-area {
            @include size(100%, auto);
            padding: 0 10%;
            padding-bottom: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-around;
            // background-color: $gray-1;
            // display: none !important;

            .employ-card {
                @include size(45%, 200px);
                @include flex-row(space-between, center);
                // border: 1px solid black;
                // background-color: $gray-3;

                .card-img {
                    @include size(202px, 177px);
                    background-color: $gray-2;
                    margin-right: 20px;

                    img {
                        @include size(100%, 100%);
                        object-fit: contain;
                    }
                }

                .card-info-area {
                    @include size(calc(100% - 202px), 177px);
                    @include flex-col(start, space-between);
                    // background-color: $gray-2;

                    .card-title {
                        @include size(40%, 37px);
                        @include font(24px, 400, 'Arial', black);
                        margin-bottom: 10px;
                    }

                    .card-content {
                        @include size(90%, 75px);
                        @include font(20px, 400, 'Arial', black);
                        margin-bottom: 40px;
                    }

                    a {
                        @include size(30%, 19px);
                        @include font(14px, 400, 'Arial', black);
                        text-decoration: none;

                        .card-btn {}
                    }
                }
            }


        }
    }

    .banner2 {
        @include size(100%, 594px);
        @include flex-col(center, center);
        background-image: url('../img/index/banner2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        img {
            @include size(174px, 187px);
            // background-color: $gray-1;
            margin-bottom: 50px;

        }

        .slogan {
            @include size(auto, 41px);
            @include font(36px, 400, 'Arial', white);
            // background-color: $gray-1;
        }
    }

    .introduction-area {
        @include size(100%, 1300px);
        @include flex-col(start, space-between);
        // background-color: $gray-3;

        .service-series {
            @include size(100%, 35%);
            // background-color: $gray-1;
            padding: 0 10%;


            .service-title {
                @include size(150px, 50px);
                @include font(32px, 400, 'Arial', black);
                text-decoration: underline;
                // background-color: $gray-2;
                margin-top: 20px;

            }

            .service-showcase {
                @include size(100%, 80%);
                display: flex;
                justify-content: start;
                align-content: space-around;
                flex-wrap: wrap;
                // background-color: $gray-2;


                .service-item {
                    @include size(360px, 92px);
                    @include font(36px, 400, 'Arial', white);
                    @include flex-row(center, center);
                    background-color: $brown;
                    border-radius: 40px;
                    margin-right: 10px;
                }
            }
        }

        .work-sop {
            @include size(100%, 20%);
            padding: 0 10%;
            // background-color: $gray-2;

            .work-title {
                @include size(150px, 50px);
                @include font(32px, 400, 'Arial', black);
                text-decoration: underline;
            }

            .work-card-showcase {
                @include size(100%, 80%);
                @include flex-row(space-between, center);
                // background-color: $gray-2;
                font-size: 24px;

                .work-card {
                    @include size(15%, 80%);
                    @include flex-col(center, space-between);
                    // background-color: $gray-1;

                    .work-icon {
                        @include size(100%, 70%);
                        // background-color: $gray-3;

                        img {
                            @include size(100%, 100%);
                            object-fit: contain;
                        }
                    }

                    .work-name {
                        @include size(100%, 20%);
                        @include font(24px, 400, 'Arial', black);
                        @include flex-row(center, center);
                        flex-wrap: wrap;
                        // background-color: $gray-3;
                    }

                }

                .arrow {
                    @include size(30px, 30px);
                    object-fit: contain;
                }

                :nth-child(11) {

                    .work-name {
                        @include size(100%, 20%);
                        @include font(20px, 400, 'Arial', black);
                        @include flex-row(center, end);
                        align-content: flex-start;
                    }
                }
            }
        }

        #question-board {
            @include size(100%, 35%);
            // background-color: $gray-1;
            padding: 0 10%;

            .question-title {
                @include size(150px, 50px);
                @include font(32px, 400, 'Arial', black);
                text-decoration: underline;
            }

            .question-showcase {
                @include size(100%, 80%);
                @include flex-col(start, space-around);
                // background-color: $gray-2;

                .question-content {
                    @include size(100%, 25%);
                    @include flex-col(start, center);
                    // background-color: $gray-2;

                    .question {
                        @include size(100%, 40%);
                        @include font(24px, 400, 'Arial', black);
                        // background-color: $gray-1;
                    }

                    .answer {
                        @include size(100%, 40%);
                        @include font(20px, 400, 'Arial', black);
                        // background-color: $gray-1;

                    }
                }

            }
        }
    }
}


//--control of bulletin-board
.area_none {
    display: none !important;
}

//--End of control


//--RWD for 1240px

@media screen and (min-width:781px) and(max-width:1240px) {
    main {
        #bulletin-board {
            .news-area {
                .news-card-area {
                    .news-card {
                        .card-info-area {
                            .card-title {
                                @include size(80%, 37px);
                            }
                        }
                    }
                }
            }

            .employ-area {
                .employ-card {
                    .card-info-area {
                        a {
                            @include size(80%, 19px);
                        }
                    }
                }
            }
        }

        .introduction-area {
            .service-series {
                .service-showcase {
                    justify-content: space-between;

                    .service-item {
                        @include size(312px, 80px);
                    }
                }
            }
        }
    }
}

//-End of 1240px



//--RWD for 780px

@media screen and(max-width:780px) {
    main {
        #bulletin-board {
            padding: 70px 0;

            .news-area {
                @include size(100%, 750px);

                .news-card-area {
                    @include size(100%, 40%);
                    @include flex-col(center, space-between);

                    .news-card {
                        @include size(100%, 45%);

                        .card-img {
                            @include size(20%, 100%);

                        }

                        .card-info-area {
                            @include size(70%, 90%);
                            @include flex-col(start, start);
                        }
                    }
                }

                .news-detail-area {
                    .news-detail {
                        @include size(100%, 20%);
                        @include flex-col(start, space-between);

                        .news-detail-content {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}