//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue:#00468E;
$brown:#D59F00;
$green:#016436;
$deep_blue:#002448;
$deep_brown:#634A00;
$deep_green:#00391F;
$light_blue:#6FB6FF;
$light_brown:#FDE6A1;
$light_green:#9CCFB8;
@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    @include size(100%, auto);
 

    .banner {
        @include size(100%, 969px);
        background-color: $gray-1;
        position: relative;

        .slogan {
            @include size(392px, 48px);
            background-color: $gray-2;
            position: absolute;
            left: 232px;
            top: 427px;
        }
    }

    .news-area {
        @include size(100%, 742px);
        @include flex-col(start, space-around);
        padding: 70px 120px;
        background-color: white;
        border: 1px black solid;

        .news-title {
            @include size(130px, 45px);
            @include flex-row(center, center);
            @include font(24px, none, none, black);

            background-color: $gray-1;
        }

        .news-card-area {
            @include size(100%, 200px);
            @include flex-row(space-between, center);
            // background-color: $gray-2;

            .news-card {
                @include size(45%, 100%);
                @include flex-row(space-between, center);
                background-color: $gray-3;

                .card-img {
                    @include size(202px, 177px);
                    background-color: $gray-2;
                    margin-right: 20px;
                }

                .card-info-area {
                    @include size(calc(100% - 202px), 177px);
                    @include flex-col(start, space-between);
                    background-color: $gray-2;

                    .card-title {
                        @include size(114px, 37px);
                        background-color: $gray-1;
                        margin-bottom: 10px;
                    }

                    .card-content {
                        @include size(317px, 75px);
                        background-color: $gray-1;
                        margin-bottom: 40px;
                    }

                    .card-btn {
                        @include size(86px, 19px);
                        background-color: $gray-1;

                    }
                }
            }
        }

        .news-detail-area {}
    }
}