//--Mixin
$gray-1: rgb(230, 230, 230);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(130, 130, 130);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(80, 80, 80);
$blue: #00468E;
$brown: #D59F00;
$green: #016436;
$deep_blue: #002448;
$deep_brown: #634A00;
$deep_green: #00391F;
$light_blue: #6FB6FF;
$light_brown: #FDE6A1;
$light_green: #9CCFB8;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex-row($justify_content, $align_items) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin flex-col($justify_content, $align_items ) {
    display: flex;
    flex-direction: column;
    justify-content: $align_items;
    align-items: $justify_content;
}

@mixin font($px, $weight, $family, $color) {
    font-size: $px;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin keyframe($animation_name,
    $animation_duration,
    $animation_count,
    $animation_time_function) {
    animation-name: $animation_name;
    animation-duration: $animation_duration;
    animation-iteration-count: $animation_count;
    animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_delay;
    transition-timing-function: $transition_funtion;
}

//--End of Mixin

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

main {
    width: 100%;
    height: 1253px;
    padding: 100px 22.5% 124px;
    position: relative;

    .service-btns {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 12.76%;
        top: 104px;

        button {
            margin-bottom: 40px;
            width: 7.8vw;
            height: 45px;
            border-radius: 10px;
            background-color: $brown;
            border: none;
            font-size: 24px;
            color: $blue;

            &.active {
                background-color: $blue;
                color: $brown;
            }
        }
    }

    .service-card-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .service-card {
            margin: 0 1.5%;
            width: 30.3%;

            img {
                width: 100%;
                height: 297px;
                object-fit: contain;
            }

        }
    }
}